.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.name {
    font-size:x-large;
    color:white;
    padding: 1%;
}

nav ul li a{
    font-size:1.1rem ;
    font-weight:600 ;
}


/* start gallery */

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left:1rem;
}

.row .column {
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
}

.row .column img {
    margin: 2%;
    padding: 2px 2px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .row .column {
        flex: 50%;
    }
    .col3 img{
        max-width: 45%;
    }
}
@media only screen and (max-width: 600px) {
    .row .column {
        flex: 100%;
    }
    .col3 img{
        max-width: 100%;
    }
}
/* End gallery */

/* Headings decoration starts */
.gradient-headings{
    font-size: 2.5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#020350, #0079a1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    text-align: center;
}


.gradient-headings:before,
.gradient-headings:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.gradient-headings:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
.gradient-headings:after {
    left: 0.5em;
    margin-right: -50%;
  }

/* Headings decoration ends */

p {
    text-align: center;
    padding: 0% 10%;
}


/*Start:FOOTER*/
 .full-footer{
position:absolute;
width:100%
}
.top-footer h5{
      color:whitesmoke;
}
.bottom-footer{
    background-color:#212529 ;
}
.bottom-footer p{
    color:white;
    font-size: 0.75rem;
    margin: 0px;
}
/*End:FOOTER*/

/*text over carousel stylling starts*/
.carousel-caption {
    position: absolute;
    top: 8px;
    font-size:x-large ;
    font-family:American Typewriter, serif;
    text-align:center;
    color:white;
    font-weight: 800;
}
/*text over carousel stylling ends*/
